/* About.css */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
  }
  
  .about-content {
    text-align: center;
  }
  
  .animated-box {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-text {
    font-size: 1.2em;
    margin: 0;
  }
  